<header id="idHeader" class="page-header">
    <nav class="navbar container">
        <picture class="nabvar__logo">
            <a href="/home"><img src="https://res.cloudinary.com/db6uriqjm/image/upload/v1693183561/Codo%20a%20Codo/branding/logo_light_horizontal_bx6kzi.svg" alt="isologotipo de la marca FunkpoShop"></a>
        </picture>
        <ul class="navbar__menu">
            
            <li class="navbar__item with-submenu">
                <a class="navbar__link with-icon" href="/shop">COLECCIONES
                    <iconify-icon icon="tabler:chevron-down" style="color: white;"></iconify-icon>
                </a>
                <ul class="submenu">
                    <li class="submenu__item">
                        <a href="/shop/?Lic=Star Wars" class="submenu__link">    Star Wars</a>
                    </li>
                    <li class="submenu__item">
                        <a href="/shop/?Lic=Pokemon" class="submenu__link">      Pokemon</a>
                    </li>  
                    <li class="submenu__item">
                        <a href="/shop/?Lic=Harry Potter" class="submenu__link">     Harry Potter</a>
                    </li>
                </ul>
            </li>

            <li class="navbar__item with-submenu">
                <a class="navbar__link with-icon" href="/shop">SHOP
                    <iconify-icon icon="tabler:chevron-down" style="color: white;"></iconify-icon>
                </a>
                <ul class="submenu">
                    <li class="submenu__item">
                        <a href="/shop/?Cat=Figuras coleccionables" class="submenu__link">Funkos</a>
                    </li>
                    <li class="submenu__item">
                        <a href="/shop/?Cat=Remeras" class="submenu__link">Remeras</a>
                    </li>
                    <li class="submenu__item">
                        <a href="/shop/?Cat=Llaveros" class="submenu__link">LLaveros</a>
                    </li>
                  
                </ul>
        
            </li>


            <li><a class="navbar__link" href="/contact">CONTACTO</a></li>
            <li><a class="navbar__link" href="/auth/login">LOGIN</a></li>
            <li class="navbar__item">
                <a class="navbar__cart" href="/shop/cart">
                    <img src="https://res.cloudinary.com/db6uriqjm/image/upload/v1693183785/Codo%20a%20Codo/icons/cart-icon_dgq3n7.svg" alt="icono de carrito" />
                </a>
            </li>
        </ul>
    </nav>
</header>

    