<header id="idHeader" class="page-header">
    <nav class="navbar container">
        <picture class="nabvar__logo">
            <a href="/"><img src="https://res.cloudinary.com/db6uriqjm/image/upload/v1693183561/Codo%20a%20Codo/branding/logo_light_horizontal_bx6kzi.svg" alt="isologotipo de la marca FunkpoShop"></a>
        </picture>
        <ul class="navbar__menu">
            <li><a class="navbar__link" href="/shop">VER TIENDA</a></li>
            <li><a class="navbar__link" href="/admin">ADMIN</a></li>
            <li><a class="navbar__link" href="">SALIR</a></li>
        </ul>
    </nav>
</header>
