<!DOCTYPE html>
<html lang="en">
    <%-include("partials/head")%>
    <body>
        <%-include("partials/header")%>
        <main class="container" style="min-height: 41vh;">

            <h1 class="contactoTitulo">Contactanos</h1>
               
            <div class="msgMailConfirmado">
                <b>Hemos recibido tu mail !!!</b>
                <p>Gracias por contactarnos</p>
                <p>nos estaremos comunicando a la brevedad.</p>
                <p></p>
                <a href="/Shop">Volver a Inicio</a>
                <p></p>
            </div>
       
        </main>
        <%-include("partials/footer")%>
    </body>
</html>